<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #Registro="ngForm" (ngSubmit)="login(Registro)">
  <ion-list>
    <ion-list>
      <ion-item>
        <ion-input name="email" [(ngModel)]="email" label="Correo Electrónico" type="email" placeholder="email@example.com" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="password" [(ngModel)]="password" label="Contraseña" type="password" value="password" required></ion-input>
      </ion-item>
      <ion-button type="submit" expand="block">Ingresar</ion-button>
    </ion-list>
  </ion-list>
</form>
  
</ion-content>

