<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="title">Lista De Componentes</ion-title>
  </ion-toolbar>
  <ion-list class="component-list">
    <ion-item class="list-item">
      <ion-label routerLink="/badges">Badges</ion-label>
    </ion-item>
    <ion-item class="list-item">
      <ion-label routerLink="/cards">Cards</ion-label>
    </ion-item>
    <ion-item class="list-item">
      <ion-label routerLink="/item">Item</ion-label>
    </ion-item>
    <ion-item class="list-item">
      <ion-label routerLink="/alert">Alert</ion-label>
    </ion-item>
    <ion-item class="list-item">
      <ion-label routerLink="/grid">Grid</ion-label>
    </ion-item>
    <ion-item class="list-item">
      <ion-label routerLink="/button">Button</ion-label>
    </ion-item>
    <ion-item class="list-item">
      <ion-label routerLink="/list">List</ion-label>
    </ion-item>
    <ion-item class="list-item">
      <ion-label routerLink="/chekbox">Chekbox</ion-label>
    </ion-item>
    <ion-item class="list-item">
      <ion-label routerLink="/toolbar">Toolbar</ion-label>
    </ion-item>
  </ion-list>  
</ion-header>

<style>
  .title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
  }

  .component-list {
    padding: 20px;
    background: #f4f4f4;
  }

  .list-item {
    font-size: 1.2rem;
    color: #a9ee29;
    border-bottom: 1px solid #ccc;
  }

  .list-item:hover {
    background: #e0e0e0;
  }
</style>
